.posts {
    display: flex;
    flex-direction: column;

    .button {
        margin-top: 10px;
    }

    * {
        align-self: flex-start;
    }

    &__title {
        font-size: 20px;
        margin: 2px 0;
    }
}