.header {
    height: 200px;
    background: rgb(216, 213, 186);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #222;

    &__button {
        background: rgb(194, 190, 132);

        &:active {
            background: rgb(182, 178, 124);
        }
    }
}