.header {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(250, 250, 250);
    position: relative;

    .button {
        margin-top: 10px;
    }

    h2 {
        color: rgb(250, 250, 250);
    }

    &__description {
        margin-bottom: 10px;
    }

    &__background {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
        position: absolute;
    }

    &__overlay {
        @extend .header__background;
        background: #111;
        opacity: 0.3;
        z-index: -1;
    }
}