@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src: url('../fonts/Ubuntu/Medium.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    src: url('../fonts/Ubuntu/Bold.ttf');
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background: rgb(248, 248, 248);
    color: #222;

    input, textarea, select {
        font-family: 'Ubuntu', sans-serif;
        padding: 7px 9px;
        width: 100%;
        outline: none;
        font-size: 15px;
        border: 1px solid silver;
        border-radius: 4px;
    }

    select {
        width: auto;
    }

    .content {
        padding: 8px 12%;
    }

    a {
        color: #222;
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 3px 0 3px 0;
    }

    p {
        margin: 3px 0 3px 0;
    }
}